<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
/>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>

<div class="m-3">
  <div class="row">
    <div class="col">
      <label class="form-label">Datasource Name</label>
      <input class="form-control" name="datasource_name" />
    </div>
    <div class="col mb-2 form-check" style="display:flex; align-items:flex-end">
      <input
        class="form-check-input my-1"
        type="checkbox"
        [(ngModel)]="samplerCheck"
        value=""
      />
      <label class="mx-2 form-check-label">Sampler</label>
    </div>
    <div
      class="col"
      style="display:flex;align-items:flex-end;justify-content:flex-end"
    >
      <Button class="btn btn-secondary">Evaluate</Button>
      <Button class="btn btn-primary mx-2">Save</Button>
    </div>
  </div>
  <div class="row my-2">
    <div class="col">
      <mat-card class="mat-card-container">
        <mat-tree
          [dataSource]="nestedDataSource"
          [treeControl]="nestedTreeControl"
        >
          <mat-nested-tree-node *matTreeNodeDef="let node">
            <li class="tree-container" [class.root-node]="_isRootNode(node)" [class.borderMain]="!_isRootNode(node)">
              <div class="mat-tree-node">
                <div *ngIf="!_isRootNode(node)" class="setBorder"></div>
                <div class="node-name" style="display:flex;align-items:center ;justify-content:space-between">
                  <button class="node-button" (click)="openNodeConfigForm(node)">
                    {{ node.name }}
                  </button>
                  <div style="display:inline-flex;align-items:center">
                    <mat-button
                      mat-icon-button
                      matTreeNodeToggle
                      class="node-view-button"
                    >
                      <mat-icon style="padding-top:5px">
                        {{
                          nestedTreeControl.isExpanded(node)
                            ? 'expand_more'
                            : 'chevron_right'
                        }}
                      </mat-icon>
                    </mat-button>
                    <button class="node-add-button" (click)="openAddNodeForm(node) ">
                      <mat-icon class="bi bi-plus"></mat-icon>
                    </button>

                    <button (click)="deleteNode(node)" class="node-del-button">
                    <mat-icon class="bi bi-x"></mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <ul class="nested-node">
                <div *ngIf="nestedTreeControl.isExpanded(node)">
                  <ng-container matTreeNodeOutlet></ng-container>
                </div>
              </ul>
            </li>
          </mat-nested-tree-node>
        </mat-tree>
      </mat-card>
    </div>
    <div class="col">
      <div *ngIf="showAddNodeForm">
        <div class="row my-2">
          <div class="col">
            <label class="form-label" for="table-name"> Table </label>
            <input
              [(ngModel)]="tableName"
              name="table"
              class="form-control"
              id="table-name"
            />
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <label class="form-label" for="table-name"> Alias </label>
            <input
              [(ngModel)]="tableAlias"
              name="alias"
              class="form-control"
              id="table-alias"
            />
          </div>
        </div>
        <Button
          class="btn-primary btn my-2"
          style="background:#085b99"
          (click)="addNode()"
          >Create node</Button
        >
      </div>
      <div *ngIf="showNodeConfigForm">
        <form [formGroup]="nodeConfigForm" style="border:1px solid grey; border-radius:6px;margin-top:10px">
          <div style="height:50px">
          <div style="height:100%;border-radius: 6px 6px 0px 0px;padding:10px;background: grey;font-size:20px;color:white">{{activeNode['name']}}</div>
          </div>
          <div style="padding:20px">
          <div class="row my-3">
            <div class="col">
              <label class="form-label">Table</label>
              <input class="form-control" formControlName="table">
            </div>
            <div class="col" style="display:flex;justify-content:flex-end;align-items:flex-end"><Button class="btn-primary btn">Load Table</Button></div>
          </div>
          <div class="row">
            <div class="col">
              <label class="form-label">Select</label>
              <ng-multiselect-dropdown
                formArrayName="select"
                [settings]="dropdownSettings"
                [data]="getSelectValues()"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="row my-2">
            <div class="col">
              <label class="form-label">Where</label>
              <input
                name="where"
                formControlName="where"
                class="form-control"
              />
            </div>
            <div *ngIf="samplerCheck" class="col">
              <label class="form-label">Sampler</label>
              <input
                name="sampler"
                formControlName="sampler"
                class="form-control"
              />
            </div>
          </div>
          <div *ngIf="!_isRootNode(activeNode)" class="row my-3">
            <div class="col">
              <div style="display:flex;justify-content:space-between">
                <label class="form-label">Join</label>
                <Button
                  (click)="addJoinCondition()"
                  class="btn btn-primary"
                  style=""
                  >Add Condition</Button
                >
              </div>
              <div style="max-height:150px;overflow:auto">
                <div
                  *ngFor="let condition of nodeConfigForm.get('join').value"
                  style="display:flex;align-items:center;justify-content:flex-start"
                  class="my-2"
                  formArrayName="join"
                >
                  <div class="input-group mb-1 mx-2">
                    <span class="input-group-text" id="">Parent</span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="column"
                    />
                  </div>
                  <div class="input-group mb-1 mx-2">
                    <span class="input-group-text" id="">Child</span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="column"
                    />
                  </div>
                  <Button
                    class="btn btn-danger mb-1"
                    (click)="deleteCondition(condition)"
                    >Delete</Button
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="form-label">Limit</label>
              <input
                type="number"
                class="form-control"
                formControlName="limit"
              />
            </div>
            <div class="col" style="display:flex;justify-content:flex-end;align-items:flex-end">
              <Button class="btn btn-success" (click)="saveActiveNode()">Save Node</Button>
            </div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br />
<br />

<pre>{{ nestedDataSource.data[0] | json }}</pre>
